@import url(reset.css);

.flex-container {
    height: 500px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flex-item {
    height: 100px;
    width: 300px;
    background-color: orange;
    border: 1px solid red;
}

.flex-item.one {
    order: 1;
    flex-grow: 0;
    flex-shrink: 2;
    align-self: flex-end;
}

.flex-item.two {
    order: 0;
    flex-grow: 0;
}

.flex-item.three {
    order: 3;
}