@import url(reset.css);

.outer {
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: black;
}

.inner {
    width: 70%;
    height: 100px;
    background-color: blue;
}

.round {
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 50%;
}

.popup {
    position: fixed;
    width: 500px;
    height: 200px;
    border: 2px solid red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}